doctype html
html.h-100
    include ../includes/head
    body.bg-light.h-100
        .site.mx-auto.d-flex.flex-column.h-100.w-100.position-relative
            include ../includes/header
            .main.h-100
                .main-overlay.h-100.d-flex.flex-column.align-items-center.justify-content-center.p-3
                    .main-header
                        .main-logo.display-2.text-light.text-center
                            i.fas.fa-industry
                        h1.main-title.display-4.text-center.text-light
                            | Строительная компания
                        p.main-subtitle.lead.text-light
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        include ../includes/scripts