header.site-header
    .container.position-relative
        .header-phone.header-top.shadow
            | +7 (123) 456-78-90
        #header-search.header-search.header-top.shadow
            i.fas.fa-search
        #header-btn.header-btn.header-top.shadow
            | Меню
        include search
        nav#header-menu.header-menu
            ul.h-100.w-100.d-flex.flex-column.justify-content-center.align-items-center
                li
                    a(href='http://localhost:3000')
                        | Главная
                li
                    a(href='about.html')
                        | О компании
                li
                    a(href='objects.html')
                        | Наши объекты
                li
                    a(href='news.html')
                        | Новости
                li
                    a(href='contacts.html')
                        | Контакты


