#search.search
    #search-close.search-close.display-4.text-light.position-absolute
        i.fas.fa-times
    form.search-form.h-100.w-100.d-flex.align-items-center.justify-content-center.mx-auto.px-3
        input.form-control.mr-3.px-2.py-3(type='search', placeholder='Поиск по сайту')
        input#search-btn.btn.btn-theme(type='submit', value='Найти')