.btn-theme
  background-color: themeColor
  color: darkColor
  &:hover
    background-color: darken(themeColor, changeColor)
    color: darkColor
    text-decoration: none
    transition-duration: 0.35