section.approach.mt-5
    .section-header.mb-5
        h2.section-title.text-center.font-weight-light.h3
            | Принципы работы
    .section-content
        .row
            .col-lg-7
                .approach
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Соблюдение нормативной документации
                        .approach-description
                            | Компании работает в соответствии принятым стандартам. Договоры, сметы и другая документация оформляются по нормам СНиП, ЕНиР, ТСН.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Аттестованные специалисты
                        .approach-description
                            | Все содрудники организации имеют удостоверение промышленного альпиниста и профессиональные сертификаты.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Рассрочка оплаты по договору
                        .approach-description
                            | Для малых и средних заказов предоставляется рассрочка 50%. Для крупных заказов оплата услуг производится за каждый выполненный этап работ.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Материалы по оптовым ценам
                        .approach-description
                            | Поставка строительных и расходных материалов для выполнения работ осуществляется с дисконтом.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Выполнение работ «под ключ»
                        .approach-description
                            | Производство полного цикла работ на объекте: осмотр, расчет сметы, поставка материалов, выполнение работ, уборка территории и обслуживание.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Оперативный выезд бригады
                        .approach-description
                            | В случае срочной необходимости предоставляется возможность быстрого выезда промышленных альпинистов на объект.
                    article.approach-item.mb-4.position-relative.pl-5
                        h3.approach-title.h4.font-weight-light.m-0
                            | Работы в удобное для вас время
                        .approach-description
                            | Для комфортной эксплуатации объекта срок и время выполнения работ возможно согласовать заранее.
            .col-lg-5.px-5
                .approach-frame
                    img.img-fluid.rounded(src='assets/images/approach/approach.jpg', alt='Принципы работы')