section.management.mt-5
    .section-header.mb-3
        h2.section-title.text-center.font-weight-light.h3
            | Руководство
    .section-content
        .card
            .card-header.bg-theme
            .card-body.bg-light
                .row.align-items-center
                    .col-md-4.col-lg-3
                        img.w-100.rounded.mb-3.mb-md-0(src='assets/images/management/management.png', alt='Management')
                    .col-md-8.col-lg-9
                        p
                            | Наша компания специализируется на выполнении полного спектра работ по капитальному ремонту и строительству. Опыт и профессионализм сотрудников позволяют реализовывать проекты любой сложности. Главной задачей в развитии компании является построение долгосрочных отношений с партнерами. Среди наших заказчиков – коммерческие и государственные организации, в том числе и в области ЖКХ (ТСЖ, ЖСК).
                        p
                            | Будем рады видеть Вас среди наших клиентов!
                        p
                            | С надеждой на длительное и плодотворное сотрудничество!
            .card-footer.bg-theme