section.personal
    .section-header.mb-3
        h2.section-title.text-center.font-weight-light.h3
            | Люди &mdash; наш основной капитал
    .section-content
        .row
            .col-xl-4
                .card.mb-4
                    .card-header.bg-theme
                    .card-body
                        p
                            | Наша компания уделяет особое внимание отбору и развитию персонала. Все сотрудники обладают удостоверением промышленного альпиниста, которое дает право заниматься данной деятельностью. Кроме того специалисты нашей компании постоянно проходят курсы и тренинги повышения квалификации.
                        p
                            | Под контролем находится и снаряжение, которое используют альпинисты. Техническое оснащение, применяемое специалистами на объектах, соответствует всем современным мировым стандартам.
                        p
                            | Особое внимание руководство компании уделяет и режиму работы сотрудников. Строго запрещены переработки, персонал регулярно проходит медицинский осмотр.
                        p
                            | Компания располагает достаточным количеством строительных бригад и в состоянии вести параллельно сразу несколько крупных объектов.
                    .card-footer.bg-theme
            .col-xl-8
                .card-columns
                    .card
                        img.card-img(src='assets/images/personal/personal_01.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_02.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_03.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_04.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_05.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_06.jpg', alt='Personal')
                    .card
                        img.card-img(src='assets/images/personal/personal_07.jpg', alt='Personal')