.header-menu
  background-color: darkOverlay
  bottom: 0
  display: none
  height: 100%
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: 100
  ul
    background-color: darkOverlay
    list-style-type: none
    li
      margin: 15px 0
      text-align: center
      a
        color: lightColor
        text-shadow: 2px 2px 2px darkColor
        text-transform: uppercase