.header-menu {
  background-color: darkOverlay;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header-menu ul {
  background-color: darkOverlay;
  list-style-type: none;
}
.header-menu ul li a {
  text-shadow: 2px 2px 2px darkColor;
}
